{% extends "base.html" %}

{% block title %}HomePage{% endblock %}
{% block extrastyle %}
<style>
   /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 10px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 200px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 200px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 20px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Carousel
================================================== -->
{% if render_obj.recommend_course %}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
    {% for course in render_obj.recommend_course %}
    <div class="item {% if forloop.first%} active{% endif %}">
        <img src="static/image/slide-{{forloop.counter}}.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{course.name}}</h1>
                    <p class="lead">{{course.description}}</p>
                    <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
{% endif %}

<div class="container">
    <div class="row">
        <div class="span9">
            <div class="row" style="background-color:#FFFDDD;">
                {% for course in render_obj.homepage_course %}
                <div class="span4">
                    <h2>{{course.name}}</h2>
                    <p style="height:100px;">{{course.description}}</p>
                    <p><a class="btn" href="/course/{{course.id}}">View details &raquo;</a></p>
                </div>
                {% endfor %}
            </div>
            <div class="row" style="height:10px;"></div>
            <div class="row" style="background-color:#DDDFFF;">
                {% for teacher in render_obj.homepage_teacher %}
                <div class="span4">
                    <h2>{{teacher.name}}</h2>
                    <p style="height:100px;">{{teacher.description}}</p>
                    <p><a class="btn" href="/teacher/{{teacher.id}}">View details &raquo;</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="span3">
            <div style="margin-bottom:8px;"> <!--top 5 courses-->
                <span>热门课程</span>
                <ul class="nav nav-list ">
                    {% for course in render_obj.top_course %}
                    <li><a href=""><i class="icon-chevron-right"></i>{{course.name}}</a></li>
                    {% endfor %}
                </ul> 
            </div>
            <div style="margin-bottom:8px;"> <!--top 5 teachers-->
                <span>热门老师</span>
                <ul class="nav nav-list ">
                    {% for teacher in render_obj.top_teacher %}
                    <li><a href=""><i class="icon-chevron-right"></i>{{teacher.name}}</a></li>
                    {% endfor %}
                </ul> 
            </div>
        </div>
    </div>
</div>

{% endblock %}
